# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
ENV/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
*.log

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Jupyter / IPython
# =========================
.ipynb_checkpoints/

# =========================
# Machine Learning
# =========================
# Modelos generados localmente
# *.joblib
# *.pkl

# =========================
# IDE / VS Code
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp
*.bak
*.swp

# =========================
# Node (por si agregas frontend JS)
# =========================
node_modules/
dist/
build/

# =========================
# Coverage / testing
# =========================
.coverage
htmlcov/
.pytest_cache/